<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Таблица Users</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>e-mail</th>
            <th>Удалить user</th>
            <th>Изменить user</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.firstName}"/>
            <td th:text="${user.lastName}"/>
            <td th:text="${user.email}"/>

            <td>
                <a th:href="@{'/delete/' + ${user.id}}"  th:text="Удалить"/>
            </td>

            <td>
                <a th:href="@{'/edit/' + ${user.id}}" th:text="Изменить"/>
            </td>
        </tr>
    </table>
    <br>
    <a th:href="@{/add/}">Добавить user</a>
    <br>
</div>
</body>
</html>